{
  "port": 9090,
  "host": "0.0.0.0",
  "chains": {
    "eip155:42793": {
      "_comment": "Etherlink",
      "eip1559": true,
      "flashblocks": true,
      "signers": [
        "0xWALLET"
      ],
      "rpc": [
        {
          "http": "https://rpc.bubbletez.com",
          "rate_limit": 50
        }
      ]
    }
  },
  "schemes": [
      {
        "id": "v1-eip155-exact",
        "chains": "eip155:42793"
      },
      {
        "id": "v2-eip155-exact",
        "chains": "eip155:42793"
      }
    ]
}
